<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Update a task</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action='/update/{{task.id}}' method='POST'>
            <input type='text' id='task_id' name='task_content' value='{{task.content}}'>
            <input type='submit' value='Update task'>
        </form>
        <script src="" async defer></script>
    </body>
</html>